
.custom-label{
  font-size: 20px;
} 

.select1{
  width: 1000px;
}

.edit_table td{
  border: 1px solid rgb(201, 201, 201);
  /* height: 500px; */
}

.edit_table th{
  border: 1px solid rgb(201, 201, 201);
}

.ant-table-placeholder{
  height: 590px;
}

/* body in edit_table */
.ant-table-body{
  height: 590px;
}
